/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */



  a {
    color: #E8AF23;/* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: #EF7F21;
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    background-color: #FFFFFF; /* set the background color here */
    color: #EF7F21; /* set the text color to black here */
    font-family:  Arial, Helvetica, sans-serif;/* set the font here */
    text-align: center; /* set the text alignment here */
    font-weight: 100px;
   }

  p {
    margin-right: 2rem;
  }

  footer {
    color: #E8AF23;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 100px;
  }

  h1 {
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 0;
   }

  h2 {
    margin-bottom:1rem;
    margin-top:1rem;
   }

  h3 {
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    
    letter-spacing: 2px;
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
